:root {
  --background: #121212;
  --surface: #1e1e1e;
  --primary: #a1a1a1;
  --secondary: #03dac6;
  --on-background: #dddddd;
  --on-surface: #e2e2e2;
  --on-primary: #050307;
  --on-secondary: #000303;

  background-color: var(--background);
}

@font-face {
  font-family: TerrariaFont;
  src: url("../resources/ANDYB.TTF");
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--on-primary);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--on-primary);
}

*::-webkit-scrollbar-track:hover {
  background-color: var(--on-primary);
}

*::-webkit-scrollbar-track:active {
  background-color: var(--on-primary);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--primary);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--primary);
}
