@font-face {
    font-family: TerrariaFont;
    src: url("../resources/ANDYB.TTF");
}

#armorModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#armorModalContent {
    background-color: var(--background);
    color: var(--on-background);
    margin: 5vh 5vw auto; /* 15% from the top and centered */
    padding: 5vh 5vw;
    width: 80vw; /* Could be more or less, depending on screen size */
    height: 80vh;
    align-content: center;
    text-align:center;
    box-shadow: 0 0 0 2px var(--on-background); /* emulate the border */
}