@font-face {
    font-family: TerrariaFont;
    src: url("../resources/ANDYB.TTF");
}

#armorModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#armorModalContent {
    background-color: var(--background);
    color: var(--on-background);
    margin: 5vh 5vw auto; /* 15% from the top and centered */
    padding: 5vh 5vw;
    width: 80vw; /* Could be more or less, depending on screen size */
    height: 80vh;
    align-content: center;
    text-align:center;
    box-shadow: 0 0 0 2px var(--primary); /* emulate the border */
}

.selectionContainer {
    border-radius: 5px;
    width: 80vw;
    height: 60vh;
    overflow-y: auto;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--primary) var(--on-primary);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    width: 10px;
    width: 10px;
}
*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: var(--on-primary);
}

*::-webkit-scrollbar-track:hover {
    background-color: var(--on-primary);
}

*::-webkit-scrollbar-track:active {
    background-color: var(--on-primary);
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--primary);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary);
}

*::-webkit-scrollbar-thumb:active {
    background-color: var(--primary);
}
