@font-face {
    font-family: TerrariaFont;
    src: url("../resources/ANDYB.TTF");
}

#buildSummary {
    background-color: var(--surface);
    height: 35vh;
    text-align: center;
    font-family: TerrariaFont, serif;
    box-shadow: 0 0 0 2px var(--primary); /* emulate the border */
}

.summarySection {
    display: inline-block;
    margin: 1vw;
    background-color: var(--surface);
    width: 30%;
    height: 85%;
    column-count: auto;
    border: var(--primary) solid 3px;
    border-radius: 10px;
    text-align: center;
    vertical-align: top;
}

.summarySection h4 {
    font-size: 4vh;
    width: 100%;
    margin: 0;
    color: var(--on-surface)
}

.summarySection p {
    margin: 0 auto;
    width: 100%;
    color: var(--on-background);
    font-size: 2.5vh;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: var(--on-surface);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}