@font-face {
    font-family: TerrariaFont;
    src: url("../resources/ANDYB.TTF");
}

#header {
    background-color: var(--surface);
    height: 5vh;
    text-align: center;
    font-family: TerrariaFont, serif;
}
#header h1 {
    margin: 0;
    font-size: 5vh;
    color: var(--on-surface)
}