@font-face {
    font-family: TerrariaFont;
    src: url("../resources/ANDYB.TTF");
}

#header {
    background-color: var(--surface);
    height: 7vh;
    text-align: center;
    font-family: TerrariaFont, serif;
    box-shadow: 0 0 0 2px var(--primary); /* emulate the border */
}
#header h1 {
    padding-top: 1vh;
    color: var(--primary);
    margin: 0;
    font-size: 5vh;
}